body {
	margin: 60px auto;
	width: 70%;
	font-family:'Helvetica', 'Arial','sans-serif'; 
	font-size:2em;
	color: black;
}
header{
	text-align:center;
	font-size:2em;
	font-weight: bold;
	color: rgb(121, 121, 121);
}
nav ul, footer ul {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
	text-align:right;
}
a:link, a:visited {
	color: rgb(0, 153, 255);
	text-decoration:underline;
}
a:hover, a:active {
	color: rgb(0, 153, 255);
	text-decoration:none;
}
nav a.current {
	color: rgb(0, 153, 255);
}
nav a:link, a:visited {
	color: rgb(121, 121, 121);
	text-decoration:none;
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.5em;
}
nav {
	font-size:1em;
}
