body {
	font-size: 12px;
	font-weight: 300;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	background: rgb(204,204,204);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
	color: black;
}
.contenido{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	background: rgb(255,255,255);
	width: 750px;
	padding: 0.5em;
	min-height: 100%;
	position: relative;
}
.container{
	margin-right: 1.5em;
	margin-left: 1.5em;
	color: blue;
}
header{
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 0.75em;
	margin-left: 0.75em;
	font-size: 3em;
	color: rgb(121, 121, 121);
}
nav{
	margin-right: 1.5em;
	margin-left: 1.5em;
	text-align: right;
	font-size: 1.125em;
}
nav ul{
	list-style-type: none;
}
nav li a:hover {
    color: black;
}
nav a:link, a:visited {
	color: rgb(121, 121, 121);
	text-decoration:none;
}
footer {
	margin-right: 1.5em;
	margin-left: 1.5em;
	font-size: 1em;
	background-color: rgb(56, 56, 56);
	color: white;
	text-align: center;
	padding: 5px;
}
footer ul{
	list-style-type: none;
}
ul li{
	display: inline;
	padding: 1em;
}
li a{
	text-decoration: none;
	color: rgb(121, 121, 121);
}
.current{
    color: rgb(0, 153, 255);
}
a:link, a:visited {
	color: rgb(0, 153, 255);
	text-decoration:underline;
}
a:hover, a:active{
    color: blue;
}
