<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		</head>
		<body>
		<header class="contenido">
    			<div class="row">
     				<h1 class="col-sm-2">JPC</h1>
      				<nav class="col-sm-10 text-right">
        				<p>item1</p>
        				<p>item2</p>
        				<p>item3</p>
					<p>item4</p>
        				<p>item5</p>
      				</nav>
    			</div>
 	 	</header>
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<br>
			
			<footer>
				<ul>
					<li><a href="mailto:jpinzon@ncsu.edu">email</a></li>
					<li><a href="https://github.com/JuanitaPC">github.com/JuanitaPC</a></li>
				</ul>
			</footer>
		</div><!-- /.contenido -->
		</body>
	</html>
