<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		</head>
		<body>
		<div class="contenido">
			<nav>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/research.html">Research</a></li>
					<li><a href="/teaching.html">Teaching</a></li>
					<li><a href="/service.html">Service</a></li>
				</ul>
			</nav>
			<br>
			<header>
				<hr>
				Juanita Pinz&oacute;n Caicedo<br>
				<hr>
			</header>
			<br>
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<br>
			
			<footer>
				<ul>
					<li><a href="mailto:jpinzon@ncsu.edu">email</a></li>
					<li><a href="https://github.com/JuanitaPC">github.com/JuanitaPC</a></li>
				</ul>
			</footer>
		</div><!-- /.contenido -->
		</body>
	</html>
